# PyCharm
.idea

# Eclipse
.project
.pydevproject

# Python compiled files
*.py[cod]
*.pyc

# Virtualenv stuff
bin/
include/
lib/

# Pip files
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*,cover
.config_backup
